#ucs_wrap{
	z-index:9999999990 !important;
	position:fixed !important;
    box-sizing: content-box !important;
	right:40px;
    top: 50px;
	font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    line-height: 1.1 !important;
	padding:0 1px !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	width: 170px;
	border-radius:6px !important;
	}

.ucs_clear{
	clear:both;
	}

/*HEADER*/

#ucs_header{
    height:14px !important;
    width:100% !important;
    cursor: move;
}

#ucs_comment_notification{
    display: block;
    float:left !important;
    margin:1.5px 0 0 4px !important;
    width:16px !important;
    height:11px !important;
    background: inherit;
}

#ucs_comment_notification.ucs_comment_notification_on{
    background: url('chrome-extension://__MSG_@@extension_id__/img/csg-5446b6a87cc4e.png') no-repeat 0 0;
}

#ucs_greeting{
    float: left !important;
    color: #ffffff !important;
    font-size: 10px !important;
    margin: 2px 0 0 3px !important;
    white-space: nowrap !important;
    max-width: 68% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

#ucs_minimize_button{
	display:none;
	float:right !important;
    margin:0 4px 0 0 !important;
    width:14px !important;
    height:14px !important;
    background: url('chrome-extension://__MSG_@@extension_id__/img/buttons.png') no-repeat -19px -1px !important;
}

#ucs_minimize_button:hover{
	background-position: -19px -19px !important;
	cursor:pointer;
}

#ucs_restore_button{
	display:block;
	float:right !important;
    margin:0 4px 0 0 !important;
    width:14px !important;
    height:14px !important;
    background: url('chrome-extension://__MSG_@@extension_id__/img/buttons.png') no-repeat -1px -1px !important;
}

#ucs_restore_button:hover{
	background-position: -1px -19px !important;
	cursor:pointer;
}

/*MAIN*/

#ucs_main{
    box-sizing: content-box !important;
	height:250px;
	background: #fff !important;
	width:100% !important;
	padding:0 !important;
	margin:0 !important;
	border-radius:2px !important;
    display: none;
}

#ucs_spam_button{
    z-index: 9999999993 !important;
    display: none;
    float: right !important;
    position: absolute !important;
    top: 16px !important;
    right: 10px !important;
    background: rgb(212, 228, 249) !important;
    height: 13px !important;
    font-size: 10px !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    border-radius: 3px !important;
    width:72px !important;
    text-align: center !important;
}

#ucs_response_button{
    z-index: 9999999993 !important;
    display: none;
    float: right !important;
    position: absolute !important;
    top: 16px !important;
    right: 84px !important;
    background: rgb(212, 228, 249) !important;
    height: 13px !important;
    font-size: 10px !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    border-radius: 3px !important;
    width:48px !important;
    text-align: center !important;
}

#ucs_response_button:hover{
    cursor: pointer;
    background: #5a6ed0 !important;
    color: #ffffff !important;
}

#ucs_spam_button:hover{
    cursor: pointer;
    background: #5a6ed0 !important;
    color: #ffffff !important;
}

#ucs_response_to_block{
    display: none;
    font-size: 10px !important;
    min-height: 2px !important;
    width: auto !important;
    background: #fff;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    padding: 0 2px 0 !important;
    margin-top: 1px !important;
    color:red;
}

#ucs_response_to_block span {
    color: #ffffff !important;
}

#ucs_response_to_block.ucs_response_to_block_hover:hover{
    cursor: pointer;
    background: #5a6ed0;
    color: #ffffff;
}

#ucs_send{
    box-sizing: content-box !important;
    color: black !important;
	display: none;
    width: initial;
    text-align: left !important;
	background: #fff !important;
	padding: 0 3px 2px !important;
	margin: 0 !important;
	min-height:13px !important;
    font-size: 11px !important;
	resize:none;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
	outline:none !important;
}

.ucs_comment{
	margin:0 0 2px !important;
}

.ucs_selected_comment{
    background-color: #EDF1F5 !important;
}

.ucs_comment table{
	width:100% !important;
	border-collapse: collapse !important;
	border-spacing: 0 !important;
}

.ucs_nickname{
    color: darkblue !important;
    text-align: left !important;
	padding:2px 0 0 3px !important;
    border-style: hidden !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    width: 1px !important;
}

.ucs_response_to{
    width: 11px !important;
    background: url('chrome-extension://__MSG_@@extension_id__/img/csg-5446b6a87cc4e.png') no-repeat -21px 0 !important;
    cursor: pointer;
}

.ucs_comment_time {
    color: darkblue !important;
	text-align:right !important;
	padding:3px 8px 0 0 !important;
    border-style: hidden !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
}

.ucs_comment_text{
    color: black !important;
	padding:2px 8px 0 3px !important;
	text-align:left !important;
    border-style: hidden !important;
    word-break: break-all !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    cursor: pointer;
}

#ucs_info_bar{
    width: 100% !important;
    height: auto !important;
    position: absolute !important;
    bottom: 0 !important;
    text-align: center !important;
    font-size:11px !important;
}

/*RESPONSE TOOLTIP*/

.ucs_tooltip_class{
    z-index: 9999999997 !important;
    text-align: left !important;
}

.ucs_response{
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    min-width: 130px !important;
    line-height: 1.1 !important;
}

.ucs_response_nickname{
    color: darkblue !important;
    float: left !important;
    font-size: 11px !important;
}

.ucs_response_time {
    color: darkblue !important;
    float: right !important;
    font-size: 10px !important;
    padding-top: 1px !important;
}

.ucs_response_text{
    font-size: 11px !important;
    padding-top: 2px !important;
    word-break: break-all !important;
}

/*FOOTER*/

#ucs_footer{
    font-size: 11px !important;
    height: 13px !important;
    display: none;
}

#ucs_anonym_label{
    color: #fff !important;
    display: block;
    float: left !important;
    font-size:9px !important;
    line-height: 11px !important;
    margin: 1px 2px 0 4px !important;
}

#ucs_anonym_checkbox{
    position: absolute !important;
    left: 48px !important;
    margin: 0 !important;
    cursor: pointer;
}

#ucs_live_label{
    color: #fff !important;
    display: none;
    float: left !important;
    font-size:9px !important;
    line-height: 11px !important;
    margin: 1px 2px 0 17px !important;
}

#ucs_live_checkbox{
    display: none;
    position: absolute !important;
    left: 83px !important;
    margin: 0 !important;
    cursor: pointer;
}

#ucs_in_out{
    float: right !important;
    color: #ffffff !important;
    font-size: 9px !important;
    margin: 2px 5px 0 0 !important;
}

#ucs_in_out:hover{
    color: #000000 !important;
    cursor: pointer;
}

/*AUTH-REG FORMS*/

#ucs_auth_close_button{
    display: block;
    position: fixed !important;
    color: #ffffff !important;
    top: 5px !important;
    right: 5px !important;
    font-size: 14px !important;
    cursor: pointer;
}

#ucs_auth_wrap{
    display: block;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background: rgba(50, 50, 50, 0.3) !important;
    z-index:9999999994 !important;
}

#ucs_auth_reg_forms{
    position: relative !important;
    top: 50px !important;
    margin: 0 auto !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    padding:0 !important;
    width: 197px !important;
    line-height: 1.1 !important;
}

#ucs_auth_form{
    margin: 0 0 2px !important;
    padding: 0 !important;
}

#ucs_reg_form{
    margin: 0 !important;
    padding: 0 !important;
}

#ucs_auth_send_button,#ucs_reg_send_button{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
    cursor: pointer;
}

#ucs_auth_reg_forms h3{
    display: block;
    background: #555 !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 2px !important;
    margin: 0 0 2px !important;
    cursor: pointer;
    outline: none !important;
    border-radius:5px !important;
}

#ucs_auth_reg_forms .ui-accordion-header-active{
    background: #ccc !important;
    color: #000 !important;
}

#ucs_auth_form_notification{
    display: block;
    font-size: 11px !important;
    color: red;
    word-wrap: break-word !important;
    text-align: center !important;
}

#ucs_reg_form_notification{
    display: block;
    font-size: 11px !important;
    color: red;
    word-wrap: break-word !important;
    text-align: center !important;
}

/* Tiny Scrollbar */

#ucs_main .ucs_viewport{
    height: 100% !important;
    overflow: hidden !important;
    position: relative !important;
}

#ucs_main .ucs_overview{
    list-style: none !important;
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
    top: 0;
    padding: 0 !important;
    margin: 0 !important;
}

#ucs_main .ucs_scrollbar{
    position: relative !important;
    background-position: 0 0 !important;
    float: right !important;
    width: 10px !important;
    margin:0 -3px 0 -10px !important;
    z-index:992 !important;
}

#ucs_main .ucs_track{
    background: #ccc !important;
    height: 100% !important;
    width:7px !important;
    position: relative !important;
    padding: 0 !important;
    border-radius:4px !important;
}

.ucs_thumb{
    background: #000 !important;
    opacity:0.2 !important;
    height: 20px;
    width: 7px !important;
    cursor: pointer;
    overflow: hidden !important;
    position: absolute !important;
    top: 0;
    left: 0;
    border-radius:4px !important;
}

#ucs_main .ucs_disable{
    display: none;
}

.ucs_noSelect{
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}